body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    margin: 0px 0px 0px 0px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.auto{
    margin:0 auto;
}
a,a:hover{
    text-decoration:none;
}
em,b,strong{
    font-style:normal;
}
.boxShow{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
}
.black{
    color:#000;
}
.white{
    color:#fff
}
.h30{
    height:30px;
}
.topbar{
    padding:10px 0;
    position:fixed;
    width:100%;
    z-index:100;
    background-color:#fff;
}
.logo img{
    min-width:100%;
}
.pinfor{
    padding-top:5px;
}
.pinfor a{
    display: inline-block;
    margin:0 0 0 10px;
    text-decoration:none;
    color:#000;
}
.navs{
    padding:10px 0 0 50px;
}
.navs li{
    float:left;
    font-size:18px;
    text-transform:uppercase;
    padding:0 30px;
}
.headers{
    padding:0 10px;
}
.navs li a{
    color:#000;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    transition:0.5s all;
    position:relative;
    padding:0 0 5px 0;
}
.navs li a em,.nav li a span{
    display:inline-block;
}
.navs li a span{
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    left:0;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    transition:0.5s all;
    padding:0 2px;
}
.navs li a:hover{
    color:#2099d5;
}
.navs li a:hover span{
    width:100%;
    height:2px;
    background-color:#2099d5;
}
.navbar-collapse{
    position: absolute;
    right: 0;
}
.main{
    padding-top:100px;
}
.solider{
    width:100%;
    height:600px;
    position:relative;
    overflow:hidden;
}
.solider ul{
    position:relative;
    width:100%;
}
.solider ul li{
    position:absolute;
    width:100%;
    background-size:cover;
    left:0;
}
.solider ul li img{
    background-size:cover;
    min-width:100%;
    height:600px;
}
.solider ol{
    position:absolute;
    bottom:11px;
    z-index:11;
    padding:0;
}
.solider ol li{
    width:10px;
    height:10px;
    border-radius:10px;
    background-color:rgba(241, 242, 242, 0.36);
    float:left;
    margin:0 5px;
    z-index:11;
}
.solider ul .active{
    z-index:10;
}
.solider ol .active{
    background-color:rgba(245, 155, 35, 0.82);
}
.solider p{
    position:absolute;
    font-size:26px;
    width:100%;
    -display:none;
    z-index:99;
    height:90%;
}
.solider p span{
    position:absolute;
    opacity:0;
}
.solider p .s1{
  right:20%;
  top:20%;
}
.solider p .s2{
    right:25%;
    top:23%;
    font-weight:bold;
}
.solider p .s3{
    right:32%;
    top:14%;
    font-weight:bold;
}
.ptext{
    padding:30px 15px;
    font-size:26px;
}
.listpro{
    padding:15px 0;
    margin-bottom:35px;
}
.listpro1{
    padding-left:25px;
    padding-right:25px;
}
.listpro em{
    display:block;
    font-size:18px;
}
.listpro .allpro a{
    color:#ADADAD;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    transition:0.5s all;
    position:relative;
    padding:0 0 5px 0;
}
.listpro .allpro a .fa{
    color:#ADADAD;
    -webkit-transition:0.8s all;
    -moz-transition:0.8s all;
    -o-transition:0.8s all;
    -ms-transition:0.8s all;
    transition:0.8s all;
}
.listpro .firsticon .fa-cubes{
    font-size:60px;
    margin-bottom:10px;
}
.listpro .twoicon .fa-bar-chart{
    font-size:60px;
    margin-bottom:10px;
}
.listpro .threeicon .fa-life-buoy{
    font-size:60px;
    margin-bottom:10px;
}
.listpro .firsticon .fa-desktop,.listpro .firsticon .fa-external-link,.listpro .twoicon .fa-truck,.listpro .threeicon .fa-edit{
    font-size:60px;
    margin-bottom:10px;
}
.listpro .allpro a:hover,.listpro .allpro a:hover .fa{
    color:#2099d5;
}
.pc{
    padding:15px 15px;
}
.pc .nei{
    padding:0 15px;
}
.pc p{
    text-align:left;
    line-height:1.8;
    padding:8px 0;
    font-size:14px;
    color:#615D5D;
}
.readmore{
    font-size:14px;
    color:#ADADAD;
    margin-left:20px;
}
.company{
    padding:0 30px;
    margin-bottom:35px;
}
.company p{
    font-size:14px;
    color:#615D5D;
    text-align:left;
    text-indent:25px;
    line-height:1.8;
}
.logbot{
    background:url(../images/logo03_01.png) no-repeat top center;
    width:134px;
    height:148px;
    background-size:cover;
    padding:30px;
    margin-left:120px;
}
.logbot img{
    text-align:center;
}
.footer
{
    background-color:#474646;
    min-height:280px;
}
.connect{
    padding:30px 15px;
}
.connect .title{
    color:#fff;
    font-size:26px;
    text-align:left;
    display:block;
    margin-bottom:25px;
}
.connect p{
    font-size:14px;
    color:#fff;
    text-align:left;
    line-height:1.5;
}
.connectdiv{
    text-align:left;
    padding-top:60px;
}
.connectdiv span{
    color:#fff;
    font-size:18px;
    padding:0;
}
.connectdiv .fa{
    color:#fff;
    margin-right:10px;
    vertical-align:middle;
}
.connectdiv .fa-mobile{
    font-size:40px;
}
.connectdiv .fa-envelope{
    font-size:28px;
}
.mails{
    margin-left:30px;
}
.aemail{
    color:#fff;
    background-color:#302E2E;
    border-radius:20px;
    padding:10px 15px;
    font-size:20px;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    transition:0.5s all;
}
.paddingtop{
    padding-top:100px;
}
.aemail:hover{
    color:#2099d5;
    background-color:#fff;
}
.navbar{
    display:none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    width:100%;
}
.navbar-default{
    background:none;
    border:none;
}
.navbar-collapse{
    width:100%;
    border:none;
    background-color:#EFEEEE;
}
.navbar-default .navbar-nav>.active>a{
    background-color: #83BDDA;
    color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #F9F7F7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #B3B2B2;
}
.navbar-default .navbar-nav>li>a{
    font-size:18px;
}
@media screen and (max-width: 1599px){
    .main{
        padding-top:80px;
    }
}
@media screen and (max-width: 991px){
    .navs li{
        padding:0 12px;
    }
    .main{
        padding-top:88px;
    }
    .mails{
        margin-left:0;
        margin-top:10px;
    }
}
@media screen and (max-width: 768px){
    .solider{
        height:250px;
    }
    .navs{
        display:none;
    }
    .navbar{
        display:block;
    }
    .logo{
       width:136px;
       height:75px;
    }
    .main{
        padding-top:80px;
    }

}
@media screen and (max-width: 540px){
    .solider p span{
        font-size:20px;
    }
    .ptext{
        font-size:22px;
    }
    .listpro em,.pc p,.company p{
        font-size:12px;
    }
    .pc p{
        padding:2px 0;
    }
    .listpro .firsticon .fa-cubes,.listpro .twoicon .fa-bar-chart,.listpro .threeicon .fa-life-buoy,.listpro .firsticon .fa-desktop, .listpro .firsticon .fa-external-link, .listpro .twoicon .fa-truck, .listpro .threeicon .fa-edit{
        font-size:47px;
    }
    .logbot{
        margin-left:30%;
        margin-top:35px;
    }
    .mails{
        margin-left:0;
        margin-top:15px;
    }
    .paddingtop{
        padding-top:50px;
    }
}
@media screen and (min-width: 992px){
    .mails{
        margin-left:0;
        margin-top:10px;
    }
}



