*{padding:0;margin:0;}
body{_background-image:url("about:blank");_background-attachment:fixed;}
html,body{height:auto;font-family:"微软雅黑","宋体",Arial;}
ul li{list-style:none;}
img{border:0;}
a{text-decoration:none;}
a:hover {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}

.clear{zoom:1;overflow:hidden;}
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.blank_50px{height:50px;line-height:0;font-size:0;clear:both;}
.blank_65px{height:65px;line-height:0;font-size:0;clear:both;}
.blank_80px{height:80px;line-height:0;font-size:0;clear:both;}
.blank_100px{height:100px;line-height:0;font-size:0;clear:both;}
.blank_120px{height:120px;line-height:0;font-size:0;clear:both;}
.blank_180px{height:180px;line-height:0;font-size:0;clear:both;}

.mvp{width:1000px;margin:0 auto;position:relative;}

.header{background:#1bcadf;height:50px;width:100%;position:fixed;_position:relative;z-index:9999;}
.webLogo{background:url(images/logo.jpg) no-repeat top center;display:block;width:116px;height:116px;text-indent:-9999px;text-align:center;position:absolute;top:0;left:20px;overflow:hidden;z-index:10000;}

.nav{margin-left:150px;height:48px;line-height:48px;font-family:"微软雅黑";}
.nav li{display:inline;margin:0 20px;}
.nav li a{color:#fff;font-size:16px;display:inline-block;padding:0 35px;border-top:2px solid #1bcadf;}
.nav li .current{background:#49d5e5;border-top:2px solid #fff;}

.solide{position:relative;overflow:hidden;top:50px;margin-bottom:20px;}
.solide img{position:absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);}
.sTitle{display:block;width:501px;margin:0 auto;margin-bottom:12px;}
.sTitlep{font-family:"微软雅黑";font-size:36px;color:#1bcadf;text-align:center;font-weight:bold;}
.sTitlep span{display:block;font-size:12px;color:#898989;margin-top:10px;}
.dlist{float:left;display:inline;text-align:center;}
.dlist dd{text-align:center;}
.dlist dt span{font-family:"微软雅黑";font-size:25px;color:#595757;font-weight:bold;display:block;margin:5px 0 14px 0;}
.dlist dt p{font-family:"微软雅黑";font-size:12px;color:#7b7a7a;text-align:justify;line-height:1.6;}
.dlist0{width:159px;margin:0 12px;}
.dlist1{width:146px;margin:0 12px;}
.dlist2{width:148px;margin:0 12px;}
.dlist3{width:100px;margin:0 10px;}
.dlist4{width:159px;margin:0 10px;}
.dlist5{width:152px;margin:0 12px;}
.dlist6{width:159px;margin:0 98px 0 148px;}
.dlist7{width:159px;margin:0 12px;}
.dlist8{width:159px;margin:0 12px 0 83px;}
.videoImg{background:url(images/videoImg.png) no-repeat top center;height:398px;}

.footer{background:#595757;height:546px;padding:194px 0 0px 0;}
.ulconnect{width:858px;margin:0 auto;}
.ulconnect li{width:338px;font-family:"微软雅黑";font-size:12px;color:#fff;float:left;padding:15px 0 15px 55px;margin:1px 18px;display:inline;}
.ulconnect .lione{background:url(images/icon10.gif) no-repeat left top;}
.ulconnect .litwo{background:url(images/icon11.gif) no-repeat left top;}
.ulconnect .lithree{background:url(images/icon12.gif) no-repeat left top;}
.ulconnect .lifour{background:url(images/icon13.gif) no-repeat left top;}
.ulconnect .lifive{background:url(images/icon14.gif) no-repeat left top;}
.ulconnect .lisix{background:url(images/icon15.gif) no-repeat left top;}
.pcopy{font-size:12px;color:#b5b5b6;font-family:"微软雅黑";clear:both;text-align:center;}
.upTop{background:url(images/top.png) no-repeat top center;width:51px;height:50px;position:fixed;bottom:0;_position:absolute;right:0;z-index:10000;opacity:0;filter:alpha(opacity=0);cursor:pointer;}