/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
    font-family:"proxima-nova-semibold";
    font-style:normal;
    font-weight: 600;
    src: url("../fonts/246C22_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/246C22_3_0.woff") format("woff"), url("../fonts/246C22_3_0.ttf") format("truetype");
}
*{padding:0;margin:0;}
.clearfix:after
{
  /*display: table;
  content: " ";*/
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  zoom:1;
}
.clearfix:after{
  clear:both;
}
.blank_20px{height:20px;clear:both;}
.blank_30px{height:30px;clear:both;}
.blank_80px{height:80px;clear:both;}
img{border:none;}
html, body{
  	font-family: 'Montserrat', sans-serif;
    font-size: 100%;
  	background: #FFf;
  	 -webkit-font-smoothing: antialiased;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*----start-container----*/
.container{
	width:70%;
	margin:0 auto;
}
/*-----start-header----*/
.bg{
	background:url(../images/new1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.header{
	height:84px;
}
.logo{
	float: left;
}
.logo a{
	color: #303030;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 2.5em;
}
.logo a:hover{
	text-decoration:none;
}
.logo320{
	display:none;
}
/*----navbar-nav----*/
.top-header{
	padding: 0.3em 0em;
}
.top-nav ul li a{
	font-family:'proxima-nova-semibold';
	color: #222;
	padding: 0.2em 1.5em;
	font-size: 1.1em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	/*color:#EE2F1B;*/
	color:#2099d5;
}
.logo a{
	display:block;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.9em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}

/*---- benner ----*/
.banner-info{
	padding: 5em 0 12em;
	text-align:left;
}
.banner-info h1{
	font-weight: 700;
    font-weight: 200\9;
	font-size:1.8em;
	color: #FFF;
	margin-top:42px;
	text-transform: uppercase;
	display: inline-block;
	line-height: 1.3em;
	width:40%;
	text-align:center;
}
.banner-info span{
	width:40%;
	height:2px;
	background:#2099d5;
	display:inline-block;
}
.banner-info p{
	color: #fff;
	font-weight:400;
    font-weight:100\9;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
	width: 40%;
	text-align:justify;
	padding:1em 0;
}
/*---- Other Expertise ----*/
.grayback{background:#f7f7f7;height:656px;}
.expertiseleft{width:66%;float:left;}
.expertice-left-grid{
	padding:3em 3em 3em 5em;
}
.expertise-head h3{
	font-weight: 900;
    font-weight: 200\9;
	font-size: 2.5em;
	color: #222222;
	text-transform: uppercase;
	margin: 0.3em 0 0.6em;
}
.expertise-head p{
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:1.7em;
	color:#777777;
}
.expertise-left-inner-grids{
	padding:2em 0;
}
.e-left-inner-grid {
    float: left;
    margin-bottom: 1em;
    width: 47%;
}
.e-left-inner-grid-left {
    float: left;
    width: 10%;
}
.e-left-inner-grid-left span {
    display: inline-block;
    height: 40px;
    width: 40px;
}
.e-left-inner-grid-left {
    float: left;
    width: 10%;
}
.e-left-inner-grid-right {
    float: right;
    width: 85%;
}
.e-left-inner-grid-right h4 {
    color: #222222;
    font-size: 1.2em;
    font-weight: 600;
    font-weight: 200\9;
    text-transform: uppercase;
}
.e-left-inner-grid-right p {
    color: #777777;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}
.e-left-inner-grid-left span.e-icon1 {
    background: url("../images/dlt.png") no-repeat top center;
    width:40px;height:40px;
    background-size:cover;
}
.e-left-inner-grid-left span.e-icon2 {
    background: url("../images/map.png") no-repeat top center;
    width:40px;height:40px;
    background-size:cover;
}
.e-left-inner-grid-left span.e-icon3 {
    background: url("../images/dateup.png") no-repeat top center;
    width:40px;height:33px;margin-top:4px;
    background-size:cover;
}
.e-left-inner-grid-left span.e-icon4 {
    background: url("../images/Deeplearning01.png") no-repeat top center;
    background-size:cover;
    width:40px;height:38px;
    margin-top:3px;
}
a.leran-more {
    background:none;
    border: 1px solid #cbeefa;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
    border-radius: 3em;
    color: #222222;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9em 2em;
    text-decoration: none;
    text-transform: uppercase;
    clear:both;
    margin-top:20px\0;
    +margin-top:20px;
}
a.leran-more:hover{
	background:#222222;
	color:#FFFFFF;
}
.expertiseright{width:34%;float:right;}
.pic01{background:url("../images/semiconductor.jpg") no-repeat;min-height:656px;background-size:cover;}
.portfolioleft{float:left;width:34%;}
.pic02{background:url("../images/butterfly.jpg") no-repeat;min-height:656px;background-size:cover;}
.portfolioright{width:66%;float:right;}
.portfolio-top-left{background: url("../images/portbg-1.png") no-repeat 68% 69%;padding: 3em 3em 0em 5em;}

.portfolio-top-left h3 {
    color: #222222;
    font-size: 2.5em;
    font-weight: 900;
    font-weight: 200\9;
    margin: 0.3em 0 0.6em;
    text-transform: uppercase;
}
.portfolio-top-left p {
    color: #777777;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}
.portfolio-top-left-grids {
    padding: 0.5em 0;
}
.portfolio-top-left-grid {
    margin: 1em 0;
    clear:both;
}
.portfolio-top-left-grid-left {
    float: left;
    text-align: center;
    width: 10%;
}
.portfolio-top-left-grid-left span {
    background: url("../images/top1.png") no-repeat top left;
    display: inline-block;
    height:48px;
    width:48px;
    background-size:cover;
}
.portfolio-top-left-grid-right {
    float: right;
    width: 90%;
}
.portfolio-top-left-grid-right p {
    width: 80%;
}
.portfolio-top-left p {
    color: #777777;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}
.portfolio-top-left-grid-left span.p-icon1{
	width:40px;height:35px;margin-top:7px;
}
.portfolio-top-left-grid-left span.p-icon2 {
    background: url("../images/fx.png") no-repeat center center;
    background-size:cover;
    height: 40px;
    width: 40px;
    margin-top:5px;
}
.portfolio-top-left-grid-left span.p-icon4 {
    background: url("../images/shou.png") no-repeat left center;
    background-size:cover;
    width:50px;
    height:30px;

}
.portfolio-top-left-grid-left span.p-icon3 {
    background: url("../images/bgs.png") no-repeat left center;
    background-size:cover;
    height:45px;
    width:45px;
    margin-top:5px;
}

/*----start-about----*/

.about-head{
	text-align: center;
}
.about-head{
	font-weight:200;
	font-size: 1.1em;
	line-height:2.0em;
	color:#222222;
	text-transform:uppercase;
}
.about-head span{
	width: 8%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
}
.portfolio-work-grid{
	padding:0;
	position:relative;
	width:33.3%;
	height:350px;
	float:left;
}
.portfolio-work-grid-pic{
	position:relative;
	height:350px;
}
.picone{
	background:url(../images/AHMonitor.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.pictwo{
	background:url(../images/DLearningDevelopment.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.picthree{
	background:url(../images/ICDTS.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.picfour{
	background:url(../images/ICGDistribution.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.picfive{
	background:url(../images/InsuranceMode.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.picsix{
	background:url(../images/IntelligentCity.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.portfolio-work-grid-caption{
	display: none;
	position: absolute;
	top: 0;
	background:#797878;
	opacity:0.8;
	filter:alpha(opacity=80);
	text-align: center;
	padding:6em 2em 0em 2em;
    bottom:0;
	left: 0;
	right:0;
}
.portfolio-work-grid-caption h4{
	font-weight:700;
	font-size:1.5em;
	text-transform:uppercase;
	color:#FFF;
}
.portfolio-work-grid:hover div.portfolio-work-grid-caption{
	display:block;
}
.portfolio-work-grid-caption p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #FFF;
}
.contact {
    background:#111111;
}
.container {
    width: 80%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-8{width:66%;float:left;}
.contact-left h3 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 900;
    font-weight: 200\9;
    margin: 0;
    padding: 0 0 0.4em;
    text-transform: uppercase;
}
.contact-left label {
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    margin-bottom: 1.8em;
}
.contact-left-grids div.col-md-6 {
    padding: 0;
}
.col-md-6 {
    width:50%;
    float: left;
}
.contact-left-grid p, .contact-left-grid p a {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    font-weight: 200\9;
    margin: 0.8em 0;
}
.contact-left-grid p span {
    background: url("../images/contact-icons1.png") no-repeat left center;
    display: inline-block;
    height: 32px;
    margin-right: 0.3em;
    vertical-align: middle;
    width: 28px;
}
.contact-right-grid p span {
    background: url("../images/contact-icons2.png") no-repeat top center;
    display: inline-block;
    height: 32px;
    margin-right: 0.3em;
    vertical-align: middle;
    width: 28px;
}
.contact-right-grid p span.c-msg {
    background-position: 0 6px;
}
.contact-right-grid p a {
    text-decoration: none;
}
.col-md-top {
    margin-top: 150px;
    text-align: center;
}
.col-md-4 {
    width: 33.3333%;
    float:right;
}
.contact-right .aemail {
    background:#2099d5;
    border:none;
    -webkit-border-radius:3em;
    -moz-border-radius:3em;
    -ms-border-radius:3em;
    -o-border-radius:3em;
    border-radius:3em;
    color: #fff;
    cursor: pointer;
    padding: 0.9em 1.5em;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    text-decoration:none;
    display:inline-block;
}
.contact-grids{padding-top:70px;}
.contact-right .aemail:hover {
    background:#ee2f1b;
    text-decoration:none;
}
.text-center {
    text-align: center;
}
.copy-right{clear:both;}
.copy-right p {
    border-top: 1px solid #fff;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: 5em;
    padding: 1.5em 0;
}
.copy-right p a {
    color: #35c2f8;
}
#toTop {
    background: url("../images/to-top1.png") no-repeat top center;
    border: medium none;
    bottom: 14px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 3%;
    text-decoration: none;
    text-indent: 100%;
    width: 40px;
}
#toTopHover {
    display: block;
    float: right;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    width: 40px;
}
.contact-left-grid p span.c-mobi {
    background-position: 0 0;
}
.contact-right-grid p, .contact-right-grid p a {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0.8em 0;
}
.contact-right-grid p a:hover {
    color: #2099d5;
}