//导航 开始
.header
  .navbar.navbar-inverse.navbar-static-top.hidden-print
      .container
          .navbar-header
              button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                  span.sr-only 切换导航
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .logo_box1
                  a.logo(href="javascript:;")
          .navbar-collapse.collapse
              .logo_box2
                  a.logo(href="javascript:;")
              ul.nav.navbar-nav
                  li.dropdown.dropdown-split-right.hot.navCurrent
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a.active(href="#") 首页
                  li.dropdown.dropdown-split-right.hot
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a(href="" name="#dahuiliangdian") 大会亮点
                  li.dropdown.dropdown-split-right.hot
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a(href="" name="#dahuiricheng") 大会日程
                  li.dropdown.dropdown-split-right.hot
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a(href="" name="#yanjiangjiabin") 演讲嘉宾
                  li.dropdown.dropdown-split-right.hot
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a(href="" name="#goupiaoxinxi") 购票信息
                  li.dropdown.dropdown-split-right.hot
                      .dropdown-toggle
                          .clearfix
                              .pull-left
                                  h3
                                      a(href="" name="#gouwuhc") 购会场信息
  //.nav_piao.piao
//导航 结束

//售票推广 开始
.ad_spread
  a(href="javascript:;")
      span.ad_desc01
          b 门票优惠销售中
          br
          | 5人以上团购更多优惠，最高节省1000元
      span.ad_desc02 立即购票
a.ad_spread01(href="javascript:;") 立即购票

//售票推广 结束

//信息分享 开始
.info_shared
  .info_platform
      a(href="javascript:;")
          img(src="static/images/IS_weibo.png" alt="")
      a(href="javascript:;")
          img(src="static/images/IS_weixin.png" alt="")
      a(href="javascript:;")
          img(src="static/images/IS_qq.png" alt="")
//信息分享 结束

