.foot_banner
    .container
        .row
            .col-md-8.col-sm-8.col-xs-12
                ul.hezuo
                    li
                        b 联系我们
                        br
                        | 4000-897-896
                        br
                        | mdss@csdn.com
                    li
                        b 联系我们
                        br
                        | 4000-897-896
                        br
                        | mdss@csdn.com
                    li
                        b 联系我们
                        br
                        | 4000-897-896
                        br
                        | mdss@csdn.com
                    li
                        b 联系我们
                        br
                        | 4000-897-896
                        br
                        | mdss@csdn.com
            .col-md-4.col-sm-4.logo
                img(src="static/images/FB_logo.png" alt="logo")