*{
	padding:0;
	margin:0;
}
article,  
aside,  
details,  
figcaption,  
figure,  
footer,  
header,  
hgroup,  
nav,  
section,  
summary,
section,div{  
    display: block;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */  
    box-sizing:border-box;
} 
audio,
canvas,
video{
    display:inline-block;
}
html {
    font-family: sans-serif; /* 默认字体 */
    font-size: 100%; /* 在用户调整窗口大小时，字体大小做相应调整。 */
    -ms-text-size-adjust: 100%; /* IE浏览器 */
    -webkit-text-size-adjust: 100%; /* FireFox浏览器 */
}
body{
    margin: 0; /* 外边距 */
    padding: 0; /* 内边距 */
    border: 0; /* 边框 */
    background:#e9e9e9;
    font-family:sans-serif;
}
#searchbody
{
	background-color:#fff;
}
a {
    text-decoration: none; /* 去除默认下划线 */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0);
}

a:focus {
    outline:thin dotted; /* 处理“outline”在Chrome浏览器中和其它浏览器之间的不一致 */
}

a:active, a:hover {
    outline: 0;
}
img{
	border:none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -moz-tap-highlight-color:rgba(0,0,0,0);
  tap-highlight-color:rgba(0,0,0,0);
}
i,em,strong
{
	font-style:normal;
}
ul,ol
{
	list-style:none;
}

/*字体*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before { content: "\e600"; }
.icon-fanhui:before { content: "\e601"; }
.icon-sousuo:before { content: "\e602"; }
.icon-canyin:before { content: "\e603"; }
.icon-datu:before { content: "\e604"; }
.icon-ditu:before { content: "\e605"; }
.icon-ditu1:before { content: "\e606"; }
.icon-fuzhuang:before { content: "\e607"; }
.icon-gouwu:before { content: "\e608"; }
.icon-hufa:before { content: "\e609"; }
.icon-jiaoyu:before { content: "\e60a"; }
.icon-jiudian:before { content: "\e60b"; }
.icon-qialaok:before { content: "\e60c"; }
.icon-qita:before { content: "\e60d"; }
.icon-qiche:before { content: "\e60e"; }
.icon-shenghuo:before { content: "\e60f"; }
.icon-shouji:before { content: "\e610"; }
.icon-xiala:before { content: "\e611"; }
.icon-yiliao:before { content: "\e612"; }
.icon-zhuangxiu:before { content: "\e613"; }
.icon-2:before { content: "\e614"; }
.icon-iconfontditudaohangsolid:before { content: "\e615"; }
.icon-dituxuanfu:before { content: "\e616"; }
.icon-junjia:before { content: "\e617"; }
.icon-liebiaoxuanfu:before { content: "\e618"; }
.icon-paixuxuanfu:before { content: "\e619"; }
.icon-shaixuanxuanfu:before { content: "\e61a"; }
.icon-sousuoxuanfu:before { content: "\e61b"; }
.icon-iconfontguanbi2:before { content: "\e61c"; }
.icon-xuanzhong:before { content: "\e61d"; }
.icon-wifi:before { content: "\e61e"; }
.icon-dianhua:before { content: "\e61f"; }
.icon-dianti:before { content: "\e620"; }
.icon-huoti:before { content: "\e621"; }
.icon-kongdiao:before { content: "\e622"; }
.icon-nuanqi:before { content: "\e623"; }
.icon-tingchechang:before { content: "\e624"; }
.mapbuoy01{font-size:1.25rem;color:#fe7d70;}
.mapbuoy02{font-size:1.75rem;color:#fe7d70;}

.clearfix:after{
	content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
.fl
{
	float:left;
}
.fr
{
	float:right;
}
.backWhite
{
	background:#fff;
}
div.noborder
{
	border:none;
}


/*模块*/
.container
{
   width:100%;
}
.wrap
{
   width:92%;
   margin:0 auto;
}
.btoborder
{
	border-bottom:1px solid #dddddd;
}
.borders
{
	border-bottom:1px solid #dddddd;
	border-top:1px solid #dddddd;
}
.marginTop
{
	margin-top:0.375rem;
}
.wrapMainPad
{
   padding:0.75rem 0;
}

/*顶部*/
.wrapMainTop
{
	padding:0.2rem 0;
}
.logo
{
   font-size:1.8rem;
   width:1.8rem;
   height:1.8rem;
   display:block;
   color:#fa715a;
}
.wrap01
{
	height:2rem;
	line-height:2rem;
}
/*导航搜索*/
.adressSearch
{
	margin-top:0.3rem;
}
.searchWrap
{
	margin-right:0.5rem;
}
.searchs
{
	width:5.025rem;
	height:1.35rem;
	-webkit-border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-ms-border-radius:0.5rem;
	-o-border-radius:0.5rem;
	border-radius:0.5rem;
	background:#e9e9e9;
	position:relative;
}
.searchs input
{
    border:0;
    width:3.0rem;
	height:1.3rem;
	line-height:1.0rem;
	padding:0 0.2rem 0 0.5rem;
    background:#e9e9e9;
    outline:none;
    position:absolute;
    top:0;
    left:1rem;
    font-size:0.6rem;
}
.icon-sousuo
{
	position:absolute;
	left:0.4rem;
	top:0;
	color:#c3c3c3;
	width:0.625rem;
	height:0.625rem;
	line-height:1.35rem; 
	font-size:0.625rem;
}
.selectAdress
{
	color:#c3c3c3;
	font-size:0.7rem;
	line-height:1.35rem;
}
.icon-xiala
{
	color:#fa715a;
	font-size:1rem;
}
.wrapBottom
{
	width:11.5rem;
	margin:0 auto;
	padding:0.4rem 0;
}
.wrapBottom a
{
	font-size:0.7rem;
}
.icon-datu,.icon-ditu1
{
	font-size:0.8rem;
	color:#b2b2b2;
	margin-right:0.3rem;
}
.wrapBottom a
{
	color:#555555;
	display:inline-block;
}
.wrapBottom em
{
	font-size:0.75rem;
	color:#d6d6d6;
	display:inline-block;
	margin:0 1rem;
}
.listWrap
{
	position:absolute;
	left:0;
	top:0;
	height:6.325rem;
    overflow:hidden;
    width:300%;
}
.listContent
{
	float:left;
	width:33%;
}
.titleWrap
{
   border-bottom:1px solid #ddd;  	
}
.title01
{
   font-size:0.6rem;
   color:#9a9a9a;
   display:block;
   padding:0.6rem 0;
   margin:0 auto;
   width:92%;
}
.scorllWrap
{
	margin-top:0.65rem;
	position:relative;
	height:7.5rem;
	overflow:hidden;
}
.scorllWrap ul
{
	-webkit-column-count:4;
	-moz-column-count:4;
	-o-column-count:4;
	-ms-column-count:4;
	column-count:4;
	height:3.125rem;
	-webkit-column-width:25%;
	margin-bottom:0.30rem;
	width:100%;
	overflow:hidden;
}
.scorllWrap ul li
{
	float:left;
	width:3rem;
	height:2.5rem;
	text-align:center;
}
.scorllWrap ul li a,.scorllWrap ul li a:link,.scorllWrap ul li a:visited,.scorllWrap ul li a:active
{
	font-size:0.5rem;
	color:#999999;
}
.scorllWrap ul li a .iconfont
{
	color:#ffffff;
	font-size:1.0rem;
}
.scorllWrap ul li a span
{
	display:block;
	-ms-border-radius:0.6rem;
	-o-border-radius:0.6rem;
	-moz-border-radius:0.6rem;
	-webkit-border-radius:0.6rem;
	border-radius:0.6rem;
	width:1.9rem;
	height:1.9rem;
	text-align:center;
	line-height:1.9rem;
	margin:0 auto;
}
.scorllWrap ul li .icon01
{
	background:#fd9d3f; 
}
.scorllWrap ul li .icon02
{
	background:#3faef2;
}
.scorllWrap ul li .icon03
{
	background:#ff78e4;
}
.scorllWrap ul li .icon04
{
	background:#ff7901;
}
.scorllWrap ul li .icon05
{
	background:#2cc08f;
}
.scorllWrap ul li .icon06
{
	background:#44c948;
}
.scorllWrap ul li .icon07
{
	background:#fb5461;
}
.scorllWrap ul li .icon08
{
	background:#e39767;
}
.currentNuber
{
    width:1.625rem;
    position:absolute;
    left:50%;
    bottom:0.3rem;
    margin-left:-0.8rem; 
}
.currentNuber li
{
	width:0.25rem;
	height:0.25rem;
	background:#d7d7d7;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	-ms-border-radius:0.25rem;
	-o-border-radius:0.25rem;
	border-radius:0.25rem;
	float:left;
	margin:0 0.125rem;
}
.currentNuber .cur
{
	background:#ff7e70;
}
.hotWrap 
{
   	padding:0.375rem 0;
}
.hotWrap ul li
{
	border:1px solid #e9e9e9;
	-webkit-border-radius:0.8rem;
	-moz-border-radius:0.8rem;
	-ms-border-radius:0.8rem;
	-o-border-radius:0.8rem;
	border-radius:0.8rem;
    float:left;
	height:1.4rem;
	text-align:center;
	padding:0.05rem 0.625rem;
	margin:0.25rem 0 0.2rem 0.6rem;
}
.hotWrap ul li a
{
	font-size:0.6rem;
	color:#555555;
}
.soliderWrap
{
	margin-bottom:1.25rem;
}
.solider
{
	width:100%;
	height:5rem;
	position:relative;
}
.solider img,.soliderTwo img
{
	max-width:100%;
	max-height:100%;
}
.soliderc
{
	width:100%;
	position:relative;
	height:5rem;
	overflow:hidden;
}
.soliderc ul
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:5rem;
}
.soliderc ul li
{
	float:left;
	width:100%;
	height:5rem;
}
.soliderc ul li img
{
	max-width:100%;
	max-height:100%;
}



/*详情页*/
.soliderTwo
{
	width:100%;
	overflow:hidden;
}
.title02 a,.title02 a:link,.title02 a:visited,.title02 a:active
{
	color:#000000;
	font-size:0.75rem;
}
.date
{
	color:#cdcdcd;
	font-size:0.55rem;
	text-align:right;
}
.adressInfor .left span
{
	color:#000;
	font-size:0.8rem;
	display:inline-block;
}
.adressInfor .left span em
{
	border-left:0.125rem solid #e97267;
	display:inline-block;
	width:0.125rem;
	height:0.7rem;
	vertical-align:baseline;
	margin-right:0.275rem;
}
.adressInfor .left p
{
	color:#999999;
	font-size:0.65rem;
	margin-top:0.375rem;
}
.adressInfor .right .dituBtn
{
    display:block;
    background:#fa715a;
    width:1.525rem;
    height:1.525rem;
    -webkit-border-radius:1.525rem;
    -moz-border-radius:1.525rem;
    -ms-border-radius:1.525rem;
    -o-border-radius:1.525rem;
    border-radius:1.525rem;
    text-align:center;
    line-height:1.45rem;
    margin-top:0.2rem;
}
.adressInfor .right .dituBtn .icon-dituxuanfu
{
	color:#fff;
	font-size:1rem;
}
.text
{
	border-bottom:1px solid #e9e9e9;
	margin-bottom:0.5rem;
}
.text .listText
{
	margin-top:0.8rem;
}
.text li
{
	margin:0.2rem 0 0.5rem 0;
}
.text .textLeft
{
	color:#d2d2d2;
	font-size:0.7rem;
	display:inline-block;
    width:3.5rem;
}
.text .textW
{
    width:2.2rem;
}
.text .textWidth
{
    width:3.9rem;
}
.text .textRight em
{
	font-size:0.7rem;
	color:#fa715a;
	display:inline-block;
	vertical-align:top;
}
.text .textRight i
{
	font-size:0.7rem;
	color:#000000;
	vertical-align:top;
}
.text .textMargin
{
    margin-right:1rem;
}
.title03
{
    color:#d2d2d2;
	font-size:0.7rem;
	display:inline-block;	
}
.text ol
{
	margin:0.75rem 0;
	width:14rem;
	overflow: hidden;
}
.text ol li,.listfors li
{
	width:2.8rem;
	margin:0 0.7rem 0.5rem 0;
	text-align:center;
	float:left;
}
.text ol li a,.text .listfors li .graybk
{
	display:inline-block;
	width:2.6rem;
	height:2.6rem;
    -webkit-border-radius:2.6rem;
	-moz-border-radius:2.6rem;
	-ms-border-radius:2.6rem;
	-o-border-radius:2.6rem;
	border-radius:2.6rem;
	border-style:solid;
	border-width:1px;
	text-align:center;
	line-height:2.6rem;
}
.text ol li .noBtn
{
	width:auto;
	height:auto;
	border:none;
	line-height:normal;
	border-radius:0;
}
.text ol li span
{
	color:#000000;
	font-size:0.6rem;
	display:block;
	width:auto;
	height:auto;
	overflow:hidden;
	margin-top:0.5rem;
}
.text .listfors li  .graybk
{
	margin-top:0;
}
.text .listfors li .graybk
{
	border-color:#b4b4b4;
}
.text .listfors li .graybk .iconfont
{
	color:#b4b4b4;
}
.text .listfors li .noBtn
{
	margin-top:0.3rem;
}
.text ol li .iconfont
{
	font-size:1.2rem;
}
.text ol li .rorage
{
	border-color:#fd9d3f;
} 
.text ol li .rorage .iconfont
{
    color:#fd9d3f;
}
.text ol li .rblue
{
	border-color:#4bb3f3;
} 
.text ol li .rblue .iconfont
{
    color:#4bb3f3;
}
.text ol li .rpink
{
	border-color:#ff80e6;
} 
.text ol li .rpink .iconfont
{
    color:#ff80e6;
}
.textContent
{
	color:#555555;
	font-size:0.7rem;
	text-align:justify;
	line-height:1.15rem;
	margin-top:0.5rem;
	position:relative;
}
.phoneBtn
{
	position:absolute;
	left:50%;
	width:86%;
	bottom:0;
	height:2.225rem;
	margin-left:-43%;
}
.phoneBtn .mark,.phoneBtn a
{
	position:absolute;
	width:100%;
	height:2.225rem;
	display:block;
	text-align:center;
	line-height:2.225rem;
}
.phoneBtn .mark
{
	background-color:#f16f59;
	-webkit-border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-o-border-radius:0.5rem;
	-ms-border-radius:0.5rem;
	border-radius:0.5rem;
	opacity:0.84;
	z-index:15;
}
.phoneBtn a{
	z-index:25;
}
.phoneBtn a span,.phoneBtn a .iconfont
{
	color:#fff;
	font-weight:normal;
}
.phoneBtn a span
{ 
    font-size:0.9rem;
    vertical-align:top;
}
.phoneBtn a .iconfont
{
	font-size:1.6rem;
	vertical-align:baseline;
}
/*幻灯片*/
.soliderTwo
{
	position:relative;
}
.scrollImg
{
	position:absolute;
	left:0;
	top:0;
}
.scrollImg li
{
	float:left;
	width:100%;
}
.solidc
{
	overflow:hidden;
	width:100%;
}
.divnumber
{
	position:absolute;
	bottom:0;
	right:-1.3rem;
	width:3rem;
	height:1.2rem;
	line-height:1.3rem;
}
.divnumber .smark
{
    background:#454e55;
    position:absolute;
    top:0;
    left:0;
    border-radius:0.5rem;
    width:3rem;
	height:1.2rem;
}
.divnumber .num
{
    position:absolute;
    top:0;
    left:20%;
    color:#999999;
    font-size:0.6rem;
}
.divnumber .num em
{
	color:#fff;
}


.futitle
{
	color:#555555;
	font-size:0.6rem;
	display:inline-block;
	margin-left:0.25rem;
}
.title02 a.title03
{
	font-size:0.7rem;
	color:#000000;
}
.otherInfors
{
    margin:0.25rem 0;
}
.otherInfors em
{
	font-size:0.65rem;
	color:#ff7062;
}
.otherInfors span
{
	font-size:0.5rem;
	color:#999999;
	display:inline-block;
	margin-left:0.5rem;
}
.otherInfors span i
{
	color:#cdcdcd;
}
.otherInfors span b
{
	color:#eeeeee;
}
/*右侧浮层*/
.fixed
{
	position:fixed;
	right:0.3rem;
	top:2%;
	width:2.05rem;
}
.fixed a
{
	display:block;
	width:2rem;
	height:2rem;
	text-align:center;
	line-height:2rem;
	-webkit-border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-ms-border-radius:0.5rem;
	-o-border-radius:0.5rem;
	border-radius:0.5rem;
	margin-bottom:0.5rem;
	background-color:rgba(0,0,0,0.7);
}
.fixed a .iconfont
{
	color:#fff;
	font-size:1.25rem;
}
.fixed a .iconfont
{
	position:static;
}

/*弹层样式*/
.layerWindow
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1000;
	overflow:hidden;
}
.layerpositionbottom
{
	bottom:0;
	top:auto;
}
.layerTab
{
	display:none;
}
.layerC
{
    position:relative;
}
.layerMark
{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
/*弹层地图内容*/
.content1
{
	position:relative;
	bottom:0;
	left:0;
}
.pwrap
{
    border-bottom:1px solid #eaeaea;	
}
.ptitle
{
	padding:0.625rem 0;
	width:92%;
	margin:0 auto;
	overflow:hidden;
}
.ptitle .left p
{
	font-size:0.75rem;
	color:#555555;
}
.ptitle .left p em
{
	color:#fa715a;
}
.ptitle .right span
{
	color:#999999;
	display:inline-block;
	font-size:0.6rem;
}
.ptitle .right span .icon-junjia
{
	font-size:0.65rem;
	vertical-align:text-bottom;
}
.textp
{
	clear:both;
	color:#999999;
	font-size:0.6rem;
	margin-top:0.2rem;
	display:block;
}
.slidemove 
{
	height:17.225rem;
	overflow:hidden;
	background:#fff;
}
.slidemovec
{
	position: absolute;  
	width:100%; 
    bottom: 0;   
    left: 0;  
    top:0;  
    -webkit-overflow-scrolling: touch;  
    overflow-y: scroll;
}
.slidemove iframe
{
	width:100%;
	height:100%;
}
.productorList
{
	width:92%;
	margin:0 auto 0 auto;
}
.productorList li
{
	border-bottom:1px solid #eaeaea;	
    margin:0.625rem 0;
}
.productorList dl dd
{
	width:4.25rem;
	height:3.25;
}
.productorList dl dd img
{
	max-height:100%;
	max-width:100%;
}
.productorList dl dt
{
	width:9.825rem;
}
.productorList dl dt .title
{
	color:#555555;
	font-size:0.75rem;
}
.productorList dl dt .pf
{
	color:#fa715a;
	font-size:0.65rem;
	display:block;
	margin-top:0.35rem;
}
.productorList dl dt .otherInfors
{
	margin-top:0.3rem;
	margin-bottom:0;
}
.productorList dl dt .otherInfors span
{
	margin-left:0;
	vertical-align:top;
}

/*搜索*/
.searchTab
{
	background-color:#e9e9e9; 
	padding:0.3rem 0;
}
.searchTab .searchw
{
    border:1px solid #c2c2c2;
    border-radius:0.5rem;
    height:1.5rem;
    position:relative;
    background-color:#fff;
    width:88%;
    margin:0 auto;
}
.searchTab .searchw .icon-sousuoxuanfu
{
	position:relative;
	width:1rem;
	height:1.5rem;
	line-height:1.5rem;
	top:0rem;
	left:0.2rem;
	color:#c3c3c3;
	font-size:1rem;
}
.searchTab .searchw input
{
	border:none;
	position:absolute;
	right:12%;
	top:0;
	height:1.4rem;
	width:77%;
	outline:none;
	font-size:0.6rem;
}
.searchc .cancelBtn
{
	display:none;
	height:1.5rem;
	line-height:1.5rem;
}
.searchTab .searchw .icon-iconfontguanbi2
{
	color:#818181;
	font-size:1.2rem;
	position:absolute;
	right:2%;
	top:0rem;
}
.canceltext
{
	color:#fa715a;
	font-size:0.7rem;
	line-height:1.5rem;
}
.searchInfor
{	
    margin:5.475rem auto 0 auto;
    display:none;
    text-align:center;
}
.searchInfor .searchicon
{
    background:url(../images/noresult.png) no-repeat top center;
    width:8.1rem;
    height:3.95rem;
    display:inline-block;
    background-size:cover;
}
.searchInfor p
{
	width:90%;
	text-align:center;
	margin:0.5rem auto 0 auto;
}
.searchInfor p em
{
    font-style:normal;
    color:#c6c6c6;
    font-size:0.75rem;
    display:block;
    font-weight:bold;
    margin-bottom:0.2rem;
}
.searchInfor p span
{
	color:#c6c6c6;
	font-size:0.6rem;
}
.searchlist li
{
	border-bottom:1px solid #dddddd;
	padding:0.4rem 0;
}
.searchlist li a,.last a
{
	color:#000000;
	font-size:0.7rem;
}
.last
{
	border-bottom:none;
	text-align:center;
	display:none;
	padding:0.4rem 0;
}
.last a,.last a:link,.last a:visited,.last a:active
{
	color:#999999;
}
/*筛选*/
.filterResult
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background:#fff;
	z-index:999;
}
.filterpadding
{
	padding:0.5rem;
	border-bottom:1px solid #e5e5e5;
}
.filterResult ul
{
	float:left;
	width:13rem;
}
.filterResult ul li
{
     border:1px solid #f9a091;
     -webkit-border-radius:0.5rem;
     -moz-border-radius:0.5rem;
     -o-border-radius:0.5rem;
     -ms-border-radius:0.5rem;
     border-radius:0.5rem;
     padding:0rem 0.3rem;
     height:1.1rem;
     line-height:1.1rem;
     margin-right:0.4rem;
     float:left;
     font-size:0.6rem;
     color:#ec5c44;
     margin-bottom:0.3rem;
     position:relative;
}
.filterResult ul li .icon-iconfontguanbi2
{
	 color:#fa715a;
	 width:0.75rem;
	 height:0.75rem;
     font-size:0.75rem;
     top:0;
     position:relative;
     right:0;
     -webkit-tap-highlight-color:rgba(0,0,0,0);
     -moz-tap-highlight-color:rgba(0,0,0,0);
     tap-highlight-color:rgba(0,0,0,0);
}
.filterResult ul li span
{
	 position:relative;
	 top:0rem;
	 display:inline-block;
	 margin-right:0.3rem;
}
.filterResult  .tijiao
{
	-webkit-border-radius:none;
	-moz-border-radius:none;
	-ms-border-radius:none;
	-o-border-radius:none;
	border-radius:none;
	padding:0;
	border:0;
	float:left;
	margin:0;
	display:none;
}
.filterResult .tijiao input
{
	color:#fff;
	background:#fa715a;
	-webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -ms-border-radius:0.5rem;
    -o-border-radius:0.5rem;
    border-radius:0.5rem;
    border:none;
    padding:0.3rem 0.4rem;
    outline:none;
    font-size:0.6rem;
}
.leftNav
{
	background:#efefef; 
	width:4.475rem;
	height:100%;
}
.leftNav li
{
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0);
}
.leftNav li span
{
	color:#999999;
	font-size:0.7rem;
	padding-left:0.675rem;
	display:inline-block;
}
.leftNav .root span
{
	color:#ea695c;
	border-left:2px solid #ea695c;
}
.leftNav .root,.rightContent
{
	background:#fff;
}
.rightContent
{
	width:11.525rem;
	padding-top:0.2rem;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	/*overflow:hidden;
    overflow-y:scroll;
	-webkit-overflow-scrolling:touch;*/
}
.rightContent ul
{
    display:none;
    position:absolute;
    width:100%;
}
.rightContent ul li
{
	position:relative;
	height:2.0rem;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0);
}
.rightContent ul li i{
	position:absolute;
	left:0;
	top:0;
}
.rightContent ul .fillin
{
	padding-top:0.5rem;
}
.rightContent ul li span
{
	color:#555555;
	font-size:0.65rem;
	display:inline-block;
	vertical-align:text-top;
	margin-left:1rem;
	border-bottom:1px solid #e5e5e5;
	height:2.0rem;
    line-height:2.0rem;
	width:100%;
	overflow:hidden;
}
.rightContent ul .root span
{
	color:#ea695c;
	font-size:0.7rem;

}
.rightContent ul .root .icon-xuanzhong
{
    font-size:1.1rem;
    width:1.1rem;
    height:1.1rem;
    line-height:2rem;
    color:#ea695c;
    top:0.2rem;
}
.rightContent .subdiv
{
    position:absolute;
	top:0.2rem;
	left:44%;
	padding-left:0.7rem;
	background:#fff;
	right:0;
    width:auto;
    background:#fff;
    display:none;
    height:100%;
}
.rightContent .subdiv ul
{
	display:block;
	width:100%;
	position: absolute;
    left: 0;
    top: 0;
}
.rightContent .subul
{
    border-left:1px solid #e5e5e5;
    width:auto;
}
.rightContent .subul li
{
	
	position:relative;
	width:auto;
}
.rightContent .subul li span
{
	margin-left:0.7rem;
	position:relative;
	width:100%;
}
.rightContent .subul .leftj
{ 
   position:absolute;
   left:-0.35rem;
   top:27%;
   background:url(../images/leftj.png) no-repeat top center;
   width:0.35rem;
   height:0.725rem;
   display:block;
   background-size:cover;
}
.rightContent .subul .root .dh
{
   display:block;
   position:absolute;
   top:35%;
   left:auto;
   right:0.5rem;
   background:url(../images/dh.png) no-repeat top center;
   width:0.75rem;
   height:0.525rem;
   background-size:cover;
}
.textlabel input
{
	border:1px solid #d1d1d1;
	border-radius:0.3rem;
	width:2.275rem;
	height:1.375rem;
	padding:0 0.4rem;
	line-height:1.3rem;
	outline:none;
	font-size:0.7rem;
	box-shadow:0;
	-webkit-appearance:none;
}
.hx
{
	color:#bdbdbd;
}
.btnlabel
{
	margin-left:0.3rem;
}
.btnlabel input
{
	font-size:0.7rem;
	color:#fff;
	-webkit-border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-ms-border-radius:0.5rem;
	-o-border-radius:0.5rem;
	border-radius:0.5rem;
	outline:none;
	border:none;
	background:#d2d2d2;
	height:1.5rem;
	width:2.25rem;
}
.btnlabel .root
{
	background:#fa715a;
}
.rightContent ul li .noborder
{
	border:none;
}
.margins
{
	margin-bottom:1.5rem;
}
div.maincontent
{
	overflow:hidden;
}
div.maincontent,div.maincontent ul,div.maincontent ul li span
{
	width:100%;
}
div.maincontent ul li
{
	width:100%;
}
.filteContent
{
	background:#fff;
	overflow:hidden;
	position:relative;
}
/*地图*/
.listdlwrap
{
	position:fixed;
	bottom:0;
	padding-bottom:0.5rem;
	width:100%;
	overflow:hidden;
}
.dlistwrap
{
	width:300%;
}
.maplistdata
{
	width:13.7rem;
	height:6rem;
	border:1px solid #dadada;
	-webkit-border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-o-border-radius:0.5rem;
	-ms-border-radius:0.5rem;
	border-radius:0.5rem;
	background:#fff;
	padding:0.5rem;
	-webkit-box-shadow:1px 1px 3px #d8d6d4;
    -moz-box-shadow:1px 1px 3px #d8d6d4;
    -o-box-shadow:1px 1px 3px #d8d6d4;
    -ms-box-shadow:1px 1px 3px #d8d6d4;
    box-shadow:1px 1px 3px #d8d6d4;
    float:left;
    margin:0 0.2rem;
}
.maplistdata .infor .pic
{
	display:block;
	width:4.25rem;
	height:3.25rem; 
}
.maplistdata .title
{
    font-size:0.7rem;
    margin-bottom:0.5rem; 
}
.maplistdata .title a
{
	color:#000;
}
.maplistdata .title a em
{
	color:#999999;
	font-size:0.6rem;
}
.maplistdata .infor .pic img
{
	max-width:100%;
	max-height:100%;
}
.maplistdata .pictext
{
	width:6.875rem;
	margin-left:0.325rem;
}
.maplistdata .pictext .title
{
	color:#fa715a;
	font-size:0.65rem;
	display:block;
	margin:0rem 0 0 0;
}
.maplistdata .pictext .pm
{
	margin:0.1rem 0;
}
.maplistdata .pictext .pm span
{
    color:#999999;
    font-size:0.5rem;
    display:inline-block;
    margin:0;
}
.maplistdata .pictext .pm
{
	padding:0;
	vertical-align:middle;
}
.maplistdata .pictext .pm em
{
	color:#eee;
	font-size:0.5rem;
	display:inline-block;
	margin:0 0.5rem;
}
.maplistdata .pictext ul li
{
    float:left;
    width:1.2rem;
	height:1.2rem;
	margin:0 0.4rem 0 0;
}
.maplistdata .pictext ul li a
{
	color:#fff;
	width:1rem;
	height:1rem;
	display:inline-block;
	-webkit-border-radius:1rem;
	-ms-border-radius:1rem;
	-o-border-radius:1rem;
	-moz-border-radius:1rem;
	border-radius:1rem;
	text-align:center;
	vertical-align:middle;
	position:relative;
}
.maplistdata .pictext ul li a i
{
	font-size:0.6rem;
	position:relative;
    top:-0.23rem;
}
.orage
{
	background:#fd9d3f;
}
.green
{
	background:#44c948;
}
.orager
{
	background:#44c948;
}
.blue
{
	background:#3faef2;
}

/*多数据下拉加载样式*/
.allData
 {
    position:absolute;  
	width:100%; 
    bottom: 0;   
    top:0;  
    height:100%;
    overflow:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;  
 }
#pullUp {
  background:#fff;
  height:2.5rem;
  line-height:1.0rem;
  padding:0.5rem 0.25rem;
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:0.65rem;
  color:#888;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */  
  box-sizing:border-box;
}
#pullUp .pullUpIcon
{
  display:block; 
  float:left;
  width:1rem; 
  height:1.0rem;
  background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size:1rem 2rem; 
  background-size:1rem 2rem;
  -webkit-transition-property:-webkit-transform;
  -webkit-transition-duration:250ms;  
}
#pullUp .pullUpIcon  {
  -webkit-transform:rotate(-180deg) translateZ(0);
}
#pullUp.flip
{
   line-height:1.0rem;
}
#pullUp.flip .pullUpIcon {
  -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp.loading .pullUpIcon 
{
  background-position:0 100%;
  -webkit-transform:rotate(0deg) translateZ(0);
  -webkit-transition-duration:0ms;

  -webkit-animation-name:loading;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}







